In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
719,tt0494652,35000000,43650785,Welcome Home Roscoe Jenkins,Martin Lawrence|James Earl Jones|Margaret Aver...,Malcolm D. Lee,Roscoe Jenkins aims for the heartstrings and f...,"Martin Lawrence leads an all-star cast, includ...",114,Comedy|Drama,Universal Pictures|Spyglass Entertainment,2/8/2008,6.1,2008
1796,tt0881200,16000000,34786960,Ji jie hao,Hanyu Zhang|Ren Quan|Wang Baoqiang|Deng Chao|Y...,Feng Xiaogang,Assembly,Follows a soldier trying to gain recognition f...,124,Action|History,Huayi Brothers Media Corporation,10/9/2007,7.3,2007
1332,tt0388482,32000000,85167639,Transporter 2,Jason Statham|Amber Valletta|Kate Nauta|Alessa...,Louis Leterrier,The Best In The Business Is Back In The Game.,Professional driver Frank Martin is living in ...,87,Action|Thriller|Crime,Canal Plus|Twentieth Century Fox Film Corporat...,8/2/2005,6.1,2005
44,tt3622592,12000000,85512300,Paper Towns,Nat Wolff|Cara Delevingne|Halston Sage|Justice...,Jake Schreier,Get Lost. Get Found.,Quentin Jacobsen has spent a lifetime loving t...,109,Drama|Mystery|Romance,Fox 2000 Pictures,7/9/2015,6.2,2015
1072,tt0337692,25000000,8784318,On the Road,Kristen Stewart|Garrett Hedlund|Sam Riley|Kirs...,Walter Salles,The best teacher is experience.,Dean and Sal are the portrait of the Beat Gene...,137,Adventure|Drama,American Zoetrope|France 2 CinÃ©ma|VideoFilmes...,5/22/2012,5.6,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
data['release_date'] = pd.to_datetime(data['release_date'])

#extract month from date
data['release_month'] = data['release_date'].map(lambda date: date.month)

#calculate profit of films
data['profit'] = data['revenue'] - data['budget']

#transform strings to list
data['genres'] = data['genres'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))

#additional dataframes for list columns
directors = pd.DataFrame(sum([[[x, z] for z in y] for x, y in zip(data['imdb_id'], data['director'])], []),
                        columns=['imdb_id', 'director_1'])
casts = pd.DataFrame(sum([[[x, z] for z in y] for x, y in zip(data['imdb_id'], data['cast'])], []),
                     columns=['imdb_id', 'cast_1'])
production_companies = pd.DataFrame(sum([[[x, z] for z in y] for x, y in zip(
    data['imdb_id'], data['production_companies'])], []), columns=['imdb_id', 'production_companies_1'])

#encode genres
genres = np.unique(np.hstack(data['genres']))
for genre in genres:
    data[genre] = data['genres'].apply(lambda x: genre in x)

In [5]:
def drop_dup_tuples_in_list(lst):
    result = []
    for p1, p2 in lst:
        if (p2, p1) in result:
            continue;
        result.append((p1, p2))
    return result

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data['budget'] == data['budget'].max()]['original_title'].values[0]

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения
answers['1'] = data.sort_values(by='budget', ascending=False).iloc[0]['original_title']

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [10]:
answers['2'] = data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = round(data['runtime'].mean())

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = round(data['runtime'].median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data['profit'] == data['profit'].max()]['original_title'].values[0]

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = data[data['profit'] == data['profit'].min()]['original_title'].values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = len(data[data['profit'] > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = data[data['release_year'] == 2008].sort_values(
    by='revenue', ascending=False).iloc[0]['original_title']

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].sort_values(
    by='profit').iloc[0]['original_title']

# 11. Какого жанра фильмов больше всего?

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = data[genres].sum().sort_values(ascending=False).index[0]

ВАРИАНТ 2

In [20]:
answers['11'] = pd.DataFrame(np.hstack(data['genres']))[0].value_counts().index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = pd.DataFrame(np.hstack(data[data['profit'] > 0]['genres']))[0].value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = data.merge(directors, on = 'imdb_id').groupby('director_1')['revenue'].sum().sort_values(
    ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = data.merge(directors, on = 'imdb_id').groupby('director_1')['Action'].sum().sort_values(
    ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = data[data['release_year'] == 2012].merge(casts, on = 'imdb_id').groupby(
    ['cast_1'])['revenue'].sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = data[data['budget'] > data['budget'].mean()].merge(casts, on = 'imdb_id').groupby(
    ['cast_1']).count()['imdb_id'].sort_values(ascending=False).index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
temp = data.merge(casts, on = 'imdb_id')
answers['17'] = temp[temp['cast_1'] == 'Nicolas Cage'][np.unique(np.hstack(data['genres']))].sum().sort_values(
    ascending=False).index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
temp = data.merge(production_companies, on = 'imdb_id')
answers['18'] = temp[temp['production_companies_1'] == 'Paramount Pictures'].sort_values(['profit']).iloc[0]['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [29]:
temp = data.merge(production_companies, on = 'imdb_id')
answers['20'] = temp[temp['production_companies_1'].str.match('Warner Bros')].groupby(
    ['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [30]:
answers['21'] = data.groupby(['release_month']).count()['imdb_id'].sort_values(ascending=False).index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
answers['22'] = data[data['release_month'].isin([6, 7, 8])].groupby(
    ['release_month']).count()['imdb_id'].sort_values(ascending=False).sum()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
temp = data.merge(directors, on = 'imdb_id')
answers['23'] = temp[temp['release_month'].isin([12, 1, 2])].groupby(
    'director_1').count()['imdb_id'].sort_values(ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [33]:
temp = data.merge(production_companies, on = 'imdb_id')
temp['title_len'] = temp['original_title'].apply(lambda x: len(x))
answers['24'] = temp.groupby('production_companies_1').max()['title_len'].sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
temp = data.merge(production_companies, on = 'imdb_id')
temp['overview_len'] = temp['overview'].apply(lambda x: len(x))
answers['25'] = temp.groupby('production_companies_1').mean()['overview_len'].sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [35]:
answers['26'] = list(data[data['vote_average'] > data.quantile(0.99)['vote_average']][['vote_average', 'original_title']].sort_values(
    'vote_average', ascending=False).values[:, 1])

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
temp = data.merge(casts, on = 'imdb_id')
temp = temp.merge(temp, on = 'imdb_id')
temp = temp[temp['cast_1_x'] != temp['cast_1_y']].groupby(
    ['cast_1_x', 'cast_1_y']).count()['imdb_id'].sort_values(ascending=False)
temp = temp[temp == temp.max()]
answers['27'] = drop_dup_tuples_in_list(list(temp.index))

ВАРИАНТ 2

In [37]:
temp = data.merge(casts, on = 'imdb_id')
temp = temp.merge(temp, on = 'imdb_id')
temp = temp[temp['cast_1_x'] != temp['cast_1_y']]
temp = temp['cast_1_x'] + ':' + temp['cast_1_y']
temp = temp.value_counts()[temp.value_counts() == temp.value_counts().max()]
answers['27'] = drop_dup_tuples_in_list(list(temp.index.map(lambda x: tuple(x.split(':')))))

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'Guardians of the Galaxy',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': [('Emma Watson', 'Daniel Radcliffe'),
  ('Rupert Grint', 'Emma Watson'),
  ('Daniel Radcliffe', 'Rupert Grint')]}

In [39]:
# и убедиться что ни чего не пропустил)
len(answers)

27